//- include includes/mixins.pug

doctype html
html(lang='ru')
	
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1')
		title Оформление заказа
		//link(rel='icon', href='favicon.ico')
		link(rel='stylesheet', href='css/select2.min.css')
		link(rel='stylesheet', href='css/datepicker.min.css')
		link(rel='stylesheet', href='css/styles.css')

	body

		main
			.container
				.content
					h1 Оформление заказа
					form.content-wrap
						.form
							.form-ttl Контактные данные
							.form-contacts

								// Контактные данные
								.form-subttl Получатель
								.form-group-contacts
									.input
										input.field(type="text", name="name", id="form-name", placeholder="Имя*")
									.input
										input.field(type="text", name="surname", id="form-surname", placeholder="Фамилия*")
									.input
										input.field(type="tel", name="phone", id="form-phone", placeholder="Номер телефона*")
									.input.input-with-text
										input.field(type="tel", name="phone2", id="form-phone2", placeholder="Телефон, если не дозвонимся")
								// Контактные данные END

								// Выбор города
								.form-group-city
									.input
										select.field.select2#form-city(name="city")
											option
											option(value="1") Москва 
											option(value="2") Санкт-Петербург 
											option(value="3") Екатеринбург 
											option(value="4") Самара 
											option(value="5") Саратов 
											option(value="6") Тамбов 
											option(value="7") Пенза 
											option(value="8") Ставрополь 
											option(value="9") Сочи 
											option(value="10") Ростов
								// Выбор города END

								// Способ получения
								.form-subttl Способ получения
								.form-group-delivery
									.input-delivery-choise
										.input-delivery-item
											input.input-delivery-checkbox(type="radio", name="delivery", id="self")
											label.input-delivery-label(for="self") Самовывоз
										.input-delivery-item
											input.input-delivery-checkbox(type="radio", name="delivery" id="delivery", checked)
											label.input-delivery-label(for="delivery") Доставка

									// Если выбрана доставка
									.form-group-delivery-wrap.active 
										.form-group-street
											.input
												input.field(type="text", name="street", id="form-street", placeholder="Улица*")
										.form-group-adress
											.input
												input.field(type="text", name="house", id="form-house", placeholder="Дом*")
											.input
												input.field(type="text", name="building", id="form-building", placeholder="Строение")
											.input
												input.field(type="text", name="corps", id="form-corps", placeholder="Корпус")
											.input
												input.field(type="text", name="frontdoor", id="form-frontdoor", placeholder="Подъезд")
											.input
												input.field(type="text", name="room", id="form-room", placeholder="Квартира")
										.form-subttl Доставка
										.form-group-price
											.input-price-item 
												input.input-price-checkbox(type="radio", name="price", id="standart", checked)
												label.input-price-label(for="standart") Стандартная доставка 
												.input-price-item-value 300
													span ₽		
											.input-price-item 
												input.input-price-checkbox(type="radio", name="price", id="today")
												label.input-price-label(for="today") День в день
												.input-price-item-value 660
													span ₽
										.form-group-date 
											.input
												input.field.datepicker-here(type="text", name="date", id="form-date", placeholder="Дата доставки")
										.form-subttl-small Время доставки
										.form-group-time
											.input-time-item 
												input.input-time-checkbox(type="radio", name="time" id="9to18")
												label.input-time-label(for="9to18") с 9 до 18 часов 
											.input-time-item 
												input.input-time-checkbox(type="radio", name="time" id="10to20", checked)
												label.input-time-label(for="10to20") с 10 до 20 часов
											.input-time-item 
												input.input-time-checkbox(type="radio", name="time" id="12to16")
												label.input-time-label(for="12to16") с 12 до 16 часов
									// Если выбрана доставка END

								// Способ получения END
								
								// Оплата
								.form-subttl Оплата
								.form-group-payment 
									.input-payment
										input.input-payment-checkbox(type="radio", name="payment", id="cash")
										label.input-payment-label(for="cash") Наличными
									.input-payment
										input.input-payment-checkbox(type="radio", name="payment", id="card", checked)
										label.input-payment-label(for="card") Банковской картой
								// Оплата END

								// SMS и Итого
								.form-group-sms
									.input-sms
										input.input-sms-checkbox(type="checkbox", name="sms", id="form-sms", checked)
										label.input-sms-label(for="form-sms") Прислать SMS с номером заказа на телефон получателя
								.form-total-items 3 товара
								.form-total-price
									span Итого:
									span 195300	
									span ₽	
								button.form-submit(type="submit") Оформить заказ
								// SMS и Итого END

						// Боковое окно		
						.aside 
							.aside-ttl В заказе
							.aside-items-value 3 позиции:
							.aside-item 
								.aside-item-name Цветное МФУ Ecosys 2035 cdn
								.aside-item-info 12 500 ₽ - 1 шт
							.aside-item 
								.aside-item-name Монохромное МФУ Taskalfa 3212i
								.aside-item-info 90 000 ₽ - 2 шт	
							.aside-item.aside-item-delivery 
								.aside-item-name.aside-item-name-delivery Стандартная доставка
								.aside-item-info.aside-item-info-delivery 300 ₽
							.aside-total 
								span Итого:
								span 195 300
								span ₽
						// Боковое окно END		

		script(src="js/jquery-3.5.1.min.js") 						
		script(src="js/datepicker.min.js") 						
		script(src="js/select2.min.js") 						
		script(src="js/jquery.maskedinput.min.js") 						
		script(src="js/jquery.validate.min.js") 						
		script(src="js/main.js") 						